thead {
	background-color: #111;
	color: white;
}

.is-striped:nth-child(even){
	background-color: #222;
}

#row{  
	background-color: #111;
	color: white;
}

#row.victim-hover{
  background-color:#333;
}

strong{
	color: white;
}
